{% extends 'base.html.twig' %}

{% block title %}Identifiez-vous!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <section class="d-flex align-items-center mb-5">
        <div class="form w-100">
            <h1 class="h3 mb-3 font-weight-normal mt-3 text-center">Identifiez-vous!</h1>
            <form method="post" class="col-12 d-flex flex-column align-items-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
                    </div>
                {% endif %}

                <div class="col-10 col-md-8 d-flex flex-column p-4 align-items-center">
                    <div class="form-group col-md-8 col-11">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="form-group col-md-8 col-11">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <button class="btn btn-lg btn-dark mt-3" type="submit">
                    Valider
                </button>
            </form>
        </div>
    </section>
{% endblock %}
