{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} Portfolio {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center mt-4">DEVELOPPEUSE WEB/ WEB MOBILE</h1>
        <div class="text-center">
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>

        <div>
            <h2 class="text-center mt-4" id="PORTFOLIO">PORTFOLIO</h2>
            <div class="wrap">
                <div class="tile">
                    {% for project in projects %}
{#                    <img src="{{ asset(project.picture is defined ? 'uploads/project' ~ project.picture : 'build/images/placeholder.png') }}">#}
                    <img src="{{ asset('build/loireorleans.png') }}" alt="logo_{{ project.name }}">
                    <div class="text">
                        <h3 class="animate-text">Loire et Orléans</h3>
                        <p class="animate-text">{{ project.description }}</p>
                        {% endfor %}
                        <div class="dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2 class="text-center mt-4" id="Contacter">Me contacter</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-dark mb-4 m-4">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </main>


{% endblock %}